<!DOCTYPE HTML>
<html>

<head>
  <title>LeanEngine</title>
  <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
</head>

<body>
  <div id="mainDom" class="ql-editor">
    <p><strong style="background-color: rgb(255, 255, 255);">【版本号：1.0.0】</strong></p>

    <br>
    <p><strong style="background-color: rgb(255, 255, 255);">APP 名称：LeanCloud</strong></p>
    <br>

    <br>
    <p><strong style="background-color: rgb(255, 255, 255);">开发者：美味书签（北京）信息技术有限公司（以下简称“我们”）</strong></p>
    <br>

    <p>
      <span style="background-color: rgb(255, 255, 255);">我们尊重并保护所有使用“LeanCloud”</span>
      <span style="background-color: rgb(255, 255, 255);">服务的用户（以下简称您)的个人隐私与信息安全。我们非常重视用户隐私和个人信息的保护。鉴于此，我们制定本《LeanCloud
        服务隐私政策》（以下简称“本政策”）与您确认关于您在使用 LeanCloud 服务期间，收集、存储、使用、披露和保护您的个人信息的相关事宜。</span>
    </p>

    <p><strong style="background-color: rgb(255, 255, 255);">请您务必认真阅读本政策，特别是粗体/粗体下划线标识的条款，您应重点阅读。在确认充分了解并同意后使用 LeanCloud
        APP。<u>如果您/您的监护人不同意本政策的任何内容，您应该立即停止使用。</u>当您开始使用 LeanCloud
        APP，即表示您/您的监护人已经同意我们按照本政策收集、保存、使用、共享、保护您的个人信息。</strong><span
        style="background-color: rgb(255, 255, 255);">如对本政策内容有任何疑问、意见或建议，您可通过本政策第六节提供的各种联系方式与我们联系。</span></p>
    <p><strong style="background-color: rgb(255, 255, 255);">本政策目录如下：</strong></p>
    <p><span style="background-color: rgb(255, 255, 255);">一、定义</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">二、我们如何收集和使用您的个人信息</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">三、我们如何存储您的个人信息</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">四、注销账号</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">五、我们如何更新隐私政策</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">六、如何联系我们</span></p>
    <p><strong style="background-color: rgb(255, 255, 255);">一、定义</strong></p>
    <p><span style="background-color: rgb(255, 255, 255);">1.个人信息：是以电子或者其他方式记录的与已识别或者可识别的自然人有关的各种信息，不包括匿名化处理后的信息。</span>
    </p>
    <p><span
        style="background-color: rgb(255, 255, 255);">2.敏感个人信息：是一旦泄露或者非法使用，容易导致自然人的人格尊严受到侵害或者人身、财产安全受到危害的个人信息，包括生物识别、宗教信仰、特定身份、医疗健康、金融账户、行踪轨迹等信息，以及不满十四周岁未成年人的个人信息。</span><strong
        style="background-color: rgb(255, 255, 255);"><u>敏感个人信息在本政策中会进行加粗和下划线提示。</u></strong></p>
    <p><span style="background-color: rgb(255, 255, 255);">3.去标识化：是指个人信息经过处理，使其在不借助额外信息的情况下无法识别特定自然人的过程。</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">4.匿名化：是指个人信息经过处理无法识别特定自然人且不能复原的过程。</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">5.个人信息删除：指在实现日常业务功能所涉及的系统中去除个人信息的行为，使其保持不可被检索、访问的状态。</span>
    </p>
    <p><strong style="background-color: rgb(255, 255, 255);">二、我们如何收集和使用您的个人信息</strong></p>
    <p><strong style="background-color: rgb(255, 255, 255);">您理解并同意：</strong></p>
    <p><span style="background-color: rgb(255, 255, 255);">1.LeanCloud APP
        功能分为基本功能和用户系统功能，我们将详细向您说明各业务功能所收集的个人信息以及收集方法、目的，拒绝提供的影响。业务功能具体包括：</span>
    </p>
    <p><span style="background-color: rgb(255, 255, 255);">1) 用户系统功能，包括使用用户名与密码创建账号，绑定用户手机号码，用户信息的保存与修改；</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">2)APP
        基本功能，包括提交请假，查询请假历史，查询今日休假同事,写周报，查询周报汇总，给联系人打电话，以及用户意见反馈功能。</span>
    </p>
    <p><span style="background-color: rgb(255, 255, 255);">2.在您使用我们的产品/服务时，我们需要/可能收集和使用您的个人信息包括如下两种情形：</span></p>
    <p><span
        style="background-color: rgb(255, 255, 255);">1)为实现向您提供我们产品及/或服务的基本功能，您须授权我们收集、使用的必要信息。如您拒绝提供相应信息，您将无法正常使用我们的产品及/或服务；</span>
    </p>
    <p><span
        style="background-color: rgb(255, 255, 255);">2)为实现向您提供我们产品及/或服务的附加功能，您可选择授权我们收集、使用的信息。如您拒绝提供，您将无法正常使用相关附加功能或无法达到我们拟达到的功能效果，但并不影响您正常使用我们产品及/或服务的基本功能。</span>
    </p>
    <p><span style="background-color: rgb(255, 255, 255);">3.本政策所指必要范围个人信息是指消费侧用户（即使用 LeanCloud APP
        服务的您）个人信息，而不包括服务供给侧用户个人信息。</span>
    </p>
    <p><span
        style="background-color: rgb(255, 255, 255);">4.我们可能会不时推出新的或优化后的功能，可能需要收集、使用新的个人信息或变更个人信息使用目的或方式。对此，我们将通过更新本政策、弹窗或者页面提示等方式另行向您说明对应信息的收集目的、范围及使用方式，并为您提供自主选择同意的机会，且在征得您明示同意后继续收集、使用。</span>
    </p>
    <p><span
        style="background-color: rgb(255, 255, 255);">5.凡是超出与本章节所披露的个人信息收集使用场景具有直接或合理关联的范围收集、使用您的个人信息，我们会再次向您告知并征得您的明示同意。</span>
    </p>
    <p><strong style="background-color: rgb(255, 255, 255);">(一)基本功能</strong></p>
    <p><strong style="background-color: rgb(255, 255, 255);">账户注册与登录</strong></p>
    <p><span style="background-color: rgb(255, 255, 255);">您使用 LeanCloud APP 服务前，需要创建账号。</span>
    </p>
    <p><span style="background-color: rgb(255, 255, 255);">1) 需要向我们提供您的</span><strong
        style="background-color: rgb(255, 255, 255);"><u>用户名、</u></strong><strong
        style="background-color: rgb(255, 255, 255);"><u>用户密码。</u></strong></p>
    <p><span style="background-color: rgb(255, 255, 255);">2) 在个人信息设置页面，可以选择是否提供手机号码，是否设置昵称。</span></p>

    <p><strong style="background-color: rgb(255, 255, 255);">(二）安全保障</strong></p>
    <p><strong style="background-color: rgb(255, 255, 255);">1. LeanCloud APP 不会收集设备 Mac 地址，也不会采集唯一设备识别码（如 IMEI / android ID / IDFA /
        OPENUDID / GUID、SIM 卡 IMSI 信息等）对用户进行唯一标识。</strong></p>
    <p><strong style="background-color: rgb(255, 255, 255);">2. LeanCloud APP 不会访问用户个人信息，也不会访问其他应用的数据信息。</strong></p>

    <p><strong style="background-color: rgb(255, 255, 255);">(三)设备权限调用</strong></p>
    <p><span style="background-color: rgb(255, 255, 255);">1.
      LeanCloud APP 可能会调用您的一些设备权限，以下是调用权限对应的业务功能、我们调用权限的目的。</span></p>
    <p><strong style="background-color: rgb(255, 255, 255);">1)Android系统权限调用</strong></p>
    <style>
      th,
      td {
        border: 1px solid black;
      }

      table {
        border-collapse: collapse;
      }
    </style>
    <table> 
      <tbody>
        <tr>
          <td>
            <p><strong> 设备权限 </strong></p>
          </td>
          <td>
            <p><strong> 调用权限的目的 </strong></p>
          </td>
        </tr>
        <td>
          <p>INTERNET 权限</p>
        </td>
        <td>
          <p>用于允许应用程序联网和发送请求数据的权限，以便使用登录注册、查询请假列表、保存周报数据等基本功能。</p>
        </td>
        </tr>
      </tbody>

    </table>



    <p class="ql-align-center"><br></p>
    <p><strong style="background-color: rgb(255, 255, 255);">(四) 征得授权同意的例外</strong></p>
    <p><span style="background-color: rgb(255, 255, 255);">您充分理解并同意，我们在以下情况下收集、使用您的个人信息无需您的授权同意：</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">1.
        为订立、履行个人作为一方当事人的合同所必需，或者按照依法制定的劳动规章制度和依法签订的集体合同实施人力资源管理所必需；</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">2. 为履行法定职责或者法定义务所必需；</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">3. 为应对突发公共卫生事件，或者紧急情况下为保护自然人的生命健康和财产安全所必需；</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">4. 为公共利益实施新闻报道、舆论监督等行为，在合理的范围内处理个人信息；</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">5. 依照《个人信息保护法》规定在合理的范围内处理个人自行公开或者其他已经合法公开的个人信息；</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">6. 法律、行政法规规定的其他情形。</span></p>


    <p><strong style="background-color: rgb(255, 255, 255);">三、我们如何存储您的个人信息</strong></p>
    <p><strong style="background-color: rgb(255, 255, 255);">1.个人信息保存期限</strong></p>
    <p><span style="background-color: rgb(255, 255, 255);">1)在用户使用 LeanCloud APP 期间，我们将在合理必要的范围内持续保存用户的个人信息。</span></p>
    <p><span
        style="background-color: rgb(255, 255, 255);">2)当您自主删除个人信息或注销账户，我们将按照法律、法规规定的最短期限保留您的现有个人信息。在法律法规要求的最短保存期限内，我们将不再对您的个人信息进行商业化使用。当您的个人信息超出上述保存期限，我们将会对其进行匿名化处理。</span>
    </p>
    <p><span style="background-color: rgb(255, 255, 255);">3)为配合人民检察院、公安机关、国家安全机关侦查用户使用 LeanCloud APP
        服务过程中产生的犯罪行为，更好保护其他用户生命财产安全，当用户自主删除个人信息或注销账户，我们将在《刑法》规定的犯罪追诉时效期间内，加密隔离存档用户个人信息。</span>
    </p>
    <p><span style="background-color: rgb(255, 255, 255);">4)如您使用 LeanCloud APP
        的过程中，存在严重违反法律法规、平台协议、平台规则等情形，您的违法、违约记录及相应的平台信用记录，将被永久保存。</span>
    </p>
    <p><span style="background-color: rgb(255, 255, 255);">5) LeanCloud APP 与您另行签署的具体的隐私协议就某类信息的保存期限做特殊约定的，从其约定。</span></p>
    <p><strong style="background-color: rgb(255, 255, 255);">2. 个人信息存储位置</strong></p>
    <p><span style="background-color: rgb(255, 255, 255);">1)我们收集的您的个人信息，将在中国内地存储和使用；</span></p>
    <p><span
        style="background-color: rgb(255, 255, 255);">2)如涉及向境外传输个人信息，我们将明确向您告知个人信息出境的目的、接收方、安全保障措施等情况，并另行征得您的同意。</span>
    </p>

    <p><strong style="background-color: rgb(255, 255, 255);">四、注销账号</strong></p>


    <p><span style="background-color: rgb(255, 255, 255);">您可以通过 LeanCloud APP
        个人中心注销账号。除法律法规另有规定外，注销账号之后我们将停止为您提供服务，并根据本协议约定期限保存您的个人信息，保存期限届满后我们将对您的个人信息进行匿名化处理。</span>
    </p>
    <p><span
        style="background-color: rgb(255, 255, 255);">在符合相关法律要求的情况下，您的近亲属可以对您的相关个人信息行使上述查阅、复制、更正、删除等权利；您另有安排的除外。</span>
    </p>
    <p><span style="background-color: rgb(255, 255, 255);">如您无法通过上述方式访问、更正、删除个人信息或撤回同意，您可以通过 App
        的“反馈”功能或者通过本政策第六节的联系方式与客服团队取得联系。若您提出注销账户的请求，我们将在15个工作日内作出答复或合理解释。</span>
    </p>


    <p><strong style="background-color: rgb(255, 255, 255);">五、我们如何更新隐私政策</strong></p>
    <p><span style="background-color: rgb(255, 255, 255);">1.LeanCloud APP 发生以下变化，我们将及时对本政策进行相应的修订：</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">1)LeanCloud APP 业务功能发生变更；</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">2)用户个人信息保存地域发生变更；</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">3)用户个人信息的使用规则发生变更；</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">4)我们的联络方式及投诉渠道发生变更；</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">5)发生其他可能影响用户个人信息安全或影响用户隐私权利的变更等。</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">2.本政策修订后，我们会在 LeanCloud APP
        发布最新版本，并以推送通知的方式告知用户，以便用户及时了解最新版本政策。</span>
    </p>
    <p><span style="background-color: rgb(255, 255, 255);">3.未经您的明确同意，我们不会削减您按照本政策所享有的权利。</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">4.如无特殊说明，修订后的隐私政策自公布之日起生效。</span></p>
    <p><strong style="background-color: rgb(255, 255, 255);">六、如何联系我们</strong></p>
    <p><span style="background-color: rgb(255, 255, 255);">1.您可以通过以下方式向我们反馈您的意见和建议，或提供您的投诉举报信息：</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">1)客服电话：13011098244；</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">2)违法和不良信息举报邮箱：</span><u
        style="background-color: rgb(255, 255, 255);">suixiaoxu@xd.com</u><span
        style="background-color: rgb(255, 255, 255);">；</span></p>
    <p><span style="background-color: rgb(255, 255, 255);">3)投诉/举报邮箱：</span><u
        style="background-color: rgb(255, 255, 255);">suixiaoxu@xd.com</u><span
        style="background-color: rgb(255, 255, 255);">；</span></p>

    <p><span
        style="background-color: rgb(255, 255, 255);">2.我们将在15日内核对并处理您反馈的信息，如果您对我们的回复不满意，特别是您认为我们的个人信息处理行为损害了您的合法权益，您可以通过向被告住所地有管辖权的法院提起诉讼来寻求解决方案。</span>
    </p>
  </div>

  <script>
    window.onload = function () {

      console.log('data', documentCenter)
      var KEYS = documentCenter.KEYS

      new documentCenter.DocumentCenter
        (
          {
            YAPI: false,
            showHistory: true,
            platform: KEYS.USER_PRIVACY_AGREEMENT_MINIPROGRAM,
            mainDom: document.getElementById('mainDom'),
            hisListButton: document.getElementById('hisListButton'),
            hisListDom: document.getElementById('hisListDom'),
            hisCurDom: document.getElementById('hisCurDom'),
          }
        )
    }


  </script>



  <div class="ext-toast"
    style="position: fixed; top: 0px; width: 100%; height: 0px; z-index: 9999; box-sizing: border-box; color: rgb(255, 255, 255); text-align: center; font-size: 14px; font-weight: bold; background: rgba(0, 0, 0, 0.5); transition: height 0.2s ease 0s; line-height: 50px; padding: 0px 10px;">
  </div>
  <div class="ext-toast"
    style="position: fixed; top: 0px; width: 100%; height: 0px; z-index: 9999; box-sizing: border-box; color: rgb(255, 255, 255); text-align: center; font-size: 14px; font-weight: bold; background: rgba(0, 0, 0, 0.5); transition: height 0.2s ease 0s; line-height: 50px; padding: 0px 10px;">
  </div>
  <div class="ext-toast"
    style="position: fixed; top: 0px; width: 100%; height: 0px; z-index: 9999; box-sizing: border-box; color: rgb(255, 255, 255); text-align: center; font-size: 14px; font-weight: bold; background: rgba(0, 0, 0, 0.5); transition: height 0.2s ease 0s; line-height: 50px; padding: 0px 10px;">
  </div>
  <div class="ext-toast"
    style="position: fixed; top: 0px; width: 100%; height: 0px; z-index: 9999; box-sizing: border-box; color: rgb(255, 255, 255); text-align: center; font-size: 14px; font-weight: bold; background: rgba(0, 0, 0, 0.5); transition: height 0.2s ease 0s; line-height: 50px; padding: 0px 10px;">
  </div>
  <div class="ext-toast"
    style="position: fixed; top: 0px; width: 100%; height: 0px; z-index: 9999; box-sizing: border-box; color: rgb(255, 255, 255); text-align: center; font-size: 14px; font-weight: bold; background: rgba(0, 0, 0, 0.5); transition: height 0.2s ease 0s; line-height: 50px; padding: 0px 10px;">
  </div>
  <div class="ext-toast"
    style="position: fixed; top: 0px; width: 100%; height: 0px; z-index: 9999; box-sizing: border-box; color: rgb(255, 255, 255); text-align: center; font-size: 14px; font-weight: bold; background: rgba(0, 0, 0, 0.5); transition: height 0.2s ease 0s; line-height: 50px; padding: 0px 10px;">
  </div>
  <div class="ext-toast"
    style="position: fixed; top: 0px; width: 100%; height: 0px; z-index: 9999; box-sizing: border-box; color: rgb(255, 255, 255); text-align: center; font-size: 14px; font-weight: bold; background: rgba(0, 0, 0, 0.5); transition: height 0.2s ease 0s; line-height: 50px; padding: 0px 10px;">
  </div>
  <div class="ext-toast"
    style="position: fixed; top: 0px; width: 100%; height: 0px; z-index: 9999; box-sizing: border-box; color: rgb(255, 255, 255); text-align: center; font-size: 14px; font-weight: bold; background: rgba(0, 0, 0, 0.5); transition: height 0.2s ease 0s; line-height: 50px; padding: 0px 10px;">
  </div>
  <div class="ext-toast"
    style="position: fixed; top: 0px; width: 100%; height: 0px; z-index: 9999; box-sizing: border-box; color: rgb(255, 255, 255); text-align: center; font-size: 14px; font-weight: bold; background: rgba(0, 0, 0, 0.5); transition: height 0.2s ease 0s; line-height: 50px; padding: 0px 10px;">
  </div>
  <div class="ext-toast"
    style="position: fixed; top: 0px; width: 100%; height: 0px; z-index: 9999; box-sizing: border-box; color: rgb(255, 255, 255); text-align: center; font-size: 14px; font-weight: bold; background: rgba(0, 0, 0, 0.5); transition: height 0.2s ease 0s; line-height: 50px; padding: 0px 10px;">
  </div>
</body>

</html>